
  <div class="col-lg-12 centered">
    <div class="col-lg-12">

      <div class="profile centered">
        <div class="col-lg-10">
          <h3>Welcome Back:
            <%= current_user.username %>
          </h3>
        </div>
        <div class="col-lg-2">
          <%= button_to "Add New Transaction", "/transaction/new", :class => "button profbutton", :method => :get %>
        </div>
      </div>

    </div>

    <div class="transactions col-lg-12">
      <div class = "col-lg-6">
        <div class= "IOU-box">
        <h4>
          <u>Amount You Owe Others:</u>
        </h4>
          <%= number_to_currency(@totalDebts) %>
          <br> <br>

          <div class="IOU-contents">
          <% if @simplifiedDebts==nil %>
          <% else %>

            <% @simplifiedDebts.each do |user, amt| %>
              <div class="simplified card">
                <div class="card-header" role="tab" id="headingOne">
                  <h4 class="mb-0">
                      <%= User.find(user).username %>
                      <%= number_to_currency(amt) %>
                  </h2>
                </div>
                <div>
                  <% @detailedDebts[user].each do |iou| %>
                    <div class = "transactioncard">
                      <%= User.find(iou.debtor_id).username %> -> <%= User.find(iou.lender_id).username %> <br>
                      <%= iou.description %>
                      <%= number_to_currency(iou.amt) %>
                    </div>
                  <% end %>
                </div>
              </div>

            <% end %>

          <% end %>
        </div>

          <%= link_to 'See Past IOUs', '/transaction/complete/debts' %>

        </div>
      </div>
      <div class = "col-lg-6">
        <div class="UOM-box">
        <h4>
          <u>Amount Others Owe You:</u>
        </h4>
          <%= number_to_currency(@totalLoans) %>
          <br> <br>

        <div class="UOM-contents">
          <% if @simplifiedLoans==nil %>
          <% else %>
            <% @simplifiedLoans.each do |user, amt| %>
              <div class="simplified">
                <h4 class="mb-0">
                  <%= User.find(user).username %>
                  <%= number_to_currency(amt) %>
                  <div class="btn-group" role="group">
                    <%= button_to "REMIND", send_reminder_mail_path, :class => "btn uombtn", :method => :get, params: {debtor: User.find(user).email} %>
                    <%= button_to "Paid off?", "transaction/complete", :class => "btn uombtn", :method => :get, params: {debtor: user} %>
                  </div>
                </h4>
              <div>
                <% @detailedLoans[user].each do |iou| %>
                  <div class = "transactioncard">
                    <%= User.find(iou.debtor_id).username %> -> <%= User.find(iou.lender_id).username %> <br>
                    <%= iou.description %>
                    <%= number_to_currency(iou.amt) %>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
          <%= link_to 'See Past UOMs', '/transaction/complete/loans' %>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
