
  <div class="col-lg-12 centered">
    <div class="col-lg-12">

      <div class="profile centered">
        <div class="col-lg-10">
          <h3>Welcome Back: <%= current_user.email %></h3>
        </div>
        <div class="col-lg-2">
          <%= button_to "Add New Transaction", "/transaction/new", :class => "button profbutton", :method => :get %>
        </div>
      </div>

    </div>

    <div class="transactions col-lg-12">
      <div class = "col-lg-6">
        <div class= "IOU-box">
        <h4>
        	<u>Amount You Owe Others:</u>
        </h4>
        	$<%= @totalDebts %>
        	<br><br>
          <% Iou.where(debtor_id: current_user.id).each do |iou| %>
            <div class="IOU">
              <%= iou.lender %>
              <%= iou.amt %>
              <%= button_to "PAY", "/transaction/new", :class => "button profbutton", :method => :get %>
            </div>
          <% end %>
        	<%= link_to 'See Past IOUs', '/debts' %>
        </div>
      </div>
      <div class = "col-lg-6">
        <div class="UOM-box">
        <h4>
        	<u>Amount Others Owe You:</u>
        </h4>
        	$<%= @totalLoans %>
        	<br><br>
          <% Iou.where(lender_id: current_user.id).each do |uom| %>
            <div class="UOM">
              <%= uom.debtor %>
              <%= uom.amt %>
              <%= button_to "REMIND", send_reminder_mail_path, :class => "button profbutton", :method => :get, params: { debtor: uom.debtor} %>
            </div>
          <% end %>
        	<%= link_to 'See Past UOMs', '/loans' %>
        </div>
      </div>
      <br><br><br>
    </div>
	</div>
