
  <div class="col-lg-12 centered">
    <div class="col-lg-12">

      <div class="profile centered">
        <div class="col-lg-10">
          <h3>Welcome Back: 
            <% if current_user.username %>
            <%= current_user.username %>
            <% else %> 
            <%= current_user.email %>
            <% end %>
          </h3>
        </div>
        <div class="col-lg-2">
          <%= button_to "Add New Transaction", "/transaction/new", :class => "button profbutton", :method => :get %>
        </div>
      </div>

    </div>

    <div class="transactions col-lg-12">
      <div class = "col-lg-6">
        <div class= "IOU-box">
        <h4>
          <u>Amount You Owe Others:</u>
        </h4>
          <%= number_to_currency(@totalDebts) %>
          <br><br>


          <% if @simplifiedDebts==nil %>
          <% else %>
            <% @simplifiedDebts.each do |user, amt| %>
              <%= user %>
              <%= number_to_currency(amt) %> <br>
              <%= button_to "PAY", "/transaction/new", :class => "button profbutton", :method => :get %>
            <% end %>
          <% end %>

          <br> <br> Above is the simplified amounts for each person you owe. Below is the individual transactions that make up each of the simplified amounts <br> <br>

          <% User.all.each do |u| %>
              <% if u.id != current_user.id and @detailedDebts.key?(u.id) and @simplifiedDebts.key?(u.email)%>
                  <u>Between you and <%= u.email %>:</u> <br>
                  <% @detailedDebts[u.id].each do |iou| %>
                    <%= User.find(iou.debtor_id).email %> -> <%= User.find(iou.lender_id).email %> <br>
                    <%= iou.description %>
                    <%= number_to_currency(iou.amt) %> <br>
                  <% end %>
              <% end %>
          <% end %> <br>


          <%= link_to 'See Past IOUs', '/debts' %>
        </div>
      </div>
      <div class = "col-lg-6">
        <div class="UOM-box">
        <h4>
          <u>Amount Others Owe You:</u>
        </h4>
          <%= number_to_currency(@totalLoans) %>
          <br><br>



          <% if @simplifiedLoans==nil %>
          <% else %>
            <% @simplifiedLoans.each do |user, amt| %>
              <%= user %>
              <%= number_to_currency(amt) %><br>
              <%= button_to "REMIND", send_reminder_mail_path, :class => "button profbutton", :method => :get, params: {debtor: user} %>
            <% end %>  
          <% end %>

          <br> <br> Above is the simplified amounts for each person that owes you. Below is the individual transactions that make up each of the simplified amounts <br> <br>

          <% User.all.each do |u| %>
              <% if u.id != current_user.id and @detailedLoans.key?(u.id) and @simplifiedLoans.key?(u.email)%>
                  <u>Between you and <%= u.email %>:</u> <br>
                  <% @detailedLoans[u.id].each do |iou| %>
                    <%= User.find(iou.debtor_id).email %> -> <%= User.find(iou.lender_id).email %> <br>
                    <%= iou.description %>
                    <%= number_to_currency(iou.amt) %> <br>
                  <% end %>
              <% end %>
          <% end %> <br>


          <%= link_to 'See Past UOMs', '/loans' %>
        </div>
      </div>
      <br><br><br>
    </div>
  </div>
